/*mostly serifs*/
body {
    font-family: Serif;
}

/*no serifs in headings */
h1, h2, h3, h4, h5, h6, h7, h8 {
    font-family: Sans-Serif;
    color: green;
}

h1 {
    text-align:center;
}

em {
    color: red;
    font: inherit;
}

/*highlight selection*/
section:target {
    %border: double green;
    box-shadow: 0px 0px 5px 5px #f77;
}

/*remove indent and bullets, from the navigation list*/
nav ul {
    list-style-type: none;
    padding-left: 0;
}

/*Garish colours, so that we can see what is going on*/
nav {background-color: #aaa;}
aside {background-color: #fff;}
footer {background-color: #afa;}
header {background-color: #faa;}
section {background-color: #ffa;}
#logo {background-color: #aaa;}
nav ul li:nth-child(2n) {background-color: #888;}
nav ul li {background-color: #999;}

/*hover — has to go after nav ul li:nth-child(2n), to override, as rules are both equal specificity*/
nav ul li:hover {
    background-color: #fff;
}

/*transitions*/
footer:hover { font-size: 300%; }
footer {
    font-size: 50%;
    transition: font-size 1s;
}
article {
    border: solid white;
    transition: border 1s;
}

.upsidedown {
    transform: rotate(180deg);
    transition: transform 2s;
}

.upsidedown:hover {
    transform: rotate(0deg);
    transition: transform 0s;
}

/*logo*/
#logo * {
    transform: rotate(-35deg) scale(1.0,1.0) translate(-1em,0.5em);
    text-align: center;
}

#logo p:hover {
    %transform: rotate(+35deg) scale(2.0,2.0) translate(0.5em,1.0em);
    %background-color: red;
    %transition: background-color 10s, transform 1s;
}
