/*layout of sections*/
main {
    display: flex;
    flex-wrap: wrap;
}

section {
    flex-basis: 200px;
    flex-grow: 2;
}

/*margins padding etc*/
nav, section, aside {
    padding-right: 1ex;
    padding-left: 1ex;
}

section {
    margin: 0.5em;
    max-width: 80em;
}

/*too narrow: reduce margin*/
@media (max-width: 450px) {
    body, section{
        margin: 0em;
        padding: 0em;
    }
}
