/*Name the parts: for use my grid-template-areas*/
aside    {grid-area: a;} 
nav      {grid-area: n;}
main     {grid-area: m;}
header   {grid-area: h;}
footer   {grid-area: f;}

/*layout of page*/
body {
    display: grid; 
    grid-template-areas:
        "n m m"
        "f f f";
}

/*sizes*/
body {
    grid-template-rows:  auto 1fr min-content;
    //grid-template-columns: minmax(min-content,min(10em,10%)) 1fr minmax(5em, 10%);
    grid-template-columns: 1fr minmax(5em, 10%);
}

/*too narrow: turn off grid*/
@media all and (max-width: 280px){
    body {
        display: block;
    }
}
