/*Name the parts: for use my grid-template-areas*/
aside    {grid-area: a;} 
nav      {grid-area: n;}
main     {grid-area: m;}
header   {grid-area: h;}
footer   {grid-area: f;}
#logo    {grid-area: l;}


/*layout of page*/
body {
    display: grid; 
    grid-template-areas:
        "h h l"
        "n m a"
        "f f f";
}

/*sizes*/
body {
    grid-template-rows:    4em auto min-content;
    //grid-template-columns: min-content auto minmax(5em, 10%);
    //grid-template-columns: minmax(min-content,10%) auto minmax(5em, 10%);
    grid-template-columns: minmax(min-content,min(10em,10%)) auto minmax(5em, 10%);
}

/*****************************************************/
/*respond to narrow screens: different layouts*/
@media all and (max-width: 320px){
    body {
        grid-template-areas:
            "h h h"
            "n m m"
            "a a a"
            "f f l";
    }
    grid-template-rows:    4em auto auto min-content;
}

/*too narrow: turn off grid*/
@media all and (max-width: 280px){
    body {
        display: block;
    }
}
